xmml.xsd

<?xml version="1.0"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.mapper-project.eu/xmml"
  xmlns:t="http://www.mapper-project.eu/xmml">

 <element name="model">
  <complexType>
   <sequence>
    <element ref="t:description" minOccurs="0" maxOccurs="1"/>
    <element ref="t:definitions"/>
    <element ref="t:topology"/>
   </sequence>
   <attribute name="id" type="ID" use="required"/>
   <attribute name="name" type="string" use="optional"/>
   <attribute name="version" type="string" use="optional"/>
   <attribute name="xmml_version" type="string" fixed="0.3.3"/>
  </complexType>
 </element>

 <element name="description">
  <complexType mixed="true"/>
 </element>

 <element name="definitions">
  <complexType>
   <sequence>
    <element ref="t:datatype" minOccurs="0" maxOccurs="unbounded"/>
    <choice maxOccurs="unbounded">
     <element ref="t:filter"/>
     <element ref="t:mapper"/>
     <element ref="t:submodel"/>
    </choice>
   </sequence>
  </complexType>
 </element>

 <element name="datatype">
  <complexType>
   <attribute name="id" type="ID" use="required"/>
   <attribute name="class" type="string" use="optional"/>
   <attribute name="version" type="string" use="optional"/>
   <attribute name="size_estimate" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="filter">
  <complexType>
   <sequence>
    <element ref="t:description" minOccurs="0" maxOccurs="1"/>
    <element ref="t:implementation" minOccurs="0" maxOccurs="1"/>
    <element ref="t:extra" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
   <attribute name="id" type="ID" use="required"/>
   <attribute name="class" type="string" use="optional"/>
   <attribute name="version" type="string" use="optional"/>
   <attribute name="datatype_in" type="IDREF" use="optional"/>
   <attribute name="datatype_out" type="IDREF" use="optional"/>
   <attribute name="type" use="required">
    <simpleType>
     <restriction base="string">
      <enumeration value="interpolation"/>
      <enumeration value="reduction"/>
      <enumeration value="converter"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="dimension" type="string" use="optional"/>
   <attribute name="factor" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="mapper">
  <complexType>
   <sequence>
    <element ref="t:description" minOccurs="0" maxOccurs="1"/>
    <element ref="t:ports"/>
    <element ref="t:implementation" minOccurs="0" maxOccurs="1"/>
    <element ref="t:extra" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
   <attribute name="id" type="ID" use="required"/>
   <attribute name="class" type="string" use="optional"/>
   <attribute name="version" type="string" use="optional"/>
   <attribute name="init" type="t:YesNoChoice" use="optional" default="no"/>
   <attribute name="type" use="required">
    <simpleType>
     <restriction base="string">
      <enumeration value="fan-in"/>
      <enumeration value="fan-out"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="interactive" type="t:OptionalChoice" use="optional" default="no"/>
  </complexType>
 </element>

 <element name="submodel">
  <complexType>
   <sequence>
    <element ref="t:description" minOccurs="0" maxOccurs="1"/>
    <element ref="t:timescale"/>
    <element ref="t:spacescale" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:otherscale" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:param" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:ports"/>
    <element ref="t:implementation" minOccurs="0" maxOccurs="1"/>
    <element ref="t:extra" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
   <attribute name="id" type="ID" use="required"/>
   <attribute name="class" type="string" use="optional"/>
   <attribute name="version" type="string" use="optional"/>
   <attribute name="name" type="string" use="optional"/>
   <attribute name="init" type="t:YesNoChoice" use="optional" default="no"/>
   <attribute name="stateful" type="t:OptionalChoice" use="optional" default="no"/>
   <attribute name="interactive" type="t:OptionalChoice" use="optional" default="no"/>
  </complexType>
 </element>

 <element name="implementation">
  <complexType>
   <sequence>
    <element ref="t:platform" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:library" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
   <attribute name="size" type="string" use="optional"/>
   <attribute name="runtime" type="string" use="optional"/>
   <attribute name="memory" type="string" use="optional"/>
   <attribute name="cores" type="NMTOKEN" use="optional"/>
   <attribute name="language" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="platform">
  <complexType>
   <attribute name="arch" type="string" use="optional"/>
   <attribute name="os" type="string" use="required"/>
   <attribute name="preferred" type="t:YesNoChoice" use="optional"/>
  </complexType>
 </element>

 <element name="library">
  <complexType>
   <attribute name="name" type="string" use="required"/>
  </complexType>
 </element>

 <element name="timescale">
  <complexType>
   <sequence>
    <element ref="t:delta" minOccurs="0" maxOccurs="1"/>
    <element ref="t:max" minOccurs="0" maxOccurs="1"/>
   </sequence>
   <attribute name="id" type="Name" use="optional"/>
   <attribute name="delta" type="string" use="optional"/>
   <attribute name="total" type="string" use="optional"/>
   <attribute name="characteristic" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="spacescale">
  <complexType>
   <sequence>
    <element ref="t:delta" minOccurs="0" maxOccurs="1"/>
    <element ref="t:total" minOccurs="0" maxOccurs="1"/>
   </sequence>
   <attribute name="id" type="Name" use="optional"/>
   <attribute name="delta" type="string" use="optional"/>
   <attribute name="total" type="string" use="optional"/>
   <attribute name="characteristic" type="string" use="optional"/>
   <attribute name="dimensions" type="NMTOKEN" use="optional"/>
  </complexType>
 </element>

 <element name="otherscale">
  <complexType>
   <sequence>
    <element ref="t:delta" minOccurs="0" maxOccurs="1"/>
    <element ref="t:max"/>
   </sequence>
   <attribute name="id" type="Name" use="optional"/>
   <attribute name="delta" type="string" use="optional"/>
   <attribute name="total" type="string" use="optional"/>
   <attribute name="characteristic" type="string" use="optional"/>
   <attribute name="type" type="string" use="optional"/>
   <attribute name="dimensions" type="NMTOKEN" use="optional"/>
  </complexType>
 </element>

 <element name="param">
  <complexType>
   <attribute name="id" type="Name" use="required"/>
   <attribute name="value" type="string" use="required"/>
  </complexType>
 </element>

 <element name="delta">
  <complexType>
   <attribute name="type" use="optional" default="variable">
    <simpleType>
     <restriction base="string">
      <enumeration value="variable"/>
      <enumeration value="fixed"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="min" type="string" use="optional"/>
   <attribute name="max" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="total">
  <complexType>
   <attribute name="type" use="optional" default="variable">
    <simpleType>
     <restriction base="string">
      <enumeration value="variable"/>
      <enumeration value="fixed"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="min" type="string" use="optional"/>
   <attribute name="max" type="string" use="optional"/>
  </complexType>
 </element>

 <element name="extra">
  <complexType mixed="true">
   <sequence>
     <any minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
  </complexType>
 </element>

 <element name="ports">
  <complexType>
   <choice minOccurs="0" maxOccurs="unbounded">
    <element ref="t:in"/>
    <element ref="t:out"/>
   </choice>
  </complexType>
 </element>

 <element name="in" type="t:port"/>
 <element name="out" type="t:port"/>

 <element name="topology">
  <complexType>
   <choice maxOccurs="unbounded">
    <element ref="t:instance"/>
    <element ref="t:coupling"/>
   </choice>
  </complexType>
 </element>

 <element name="instance">
  <complexType>
   <sequence>
    <element ref="t:timescale" minOccurs="0" maxOccurs="1"/>
    <element ref="t:spacescale" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:otherscale" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:param" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:extra" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
   <attribute name="id" type="ID" use="optional"/>
   <attribute name="submodel" type="IDREF" use="optional"/>
   <attribute name="mapper" type="IDREF" use="optional"/>
   <attribute name="domain" type="string" use="optional"/>
   <attribute name="init" use="optional">
    <simpleType>
     <restriction base="string">
      <enumeration value="yes"/>
      <enumeration value="no"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="interactive" use="optional">
    <simpleType>
     <restriction base="string">
      <enumeration value="yes"/>
      <enumeration value="no"/>
      <enumeration value="optional"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="stateful" use="optional">
    <simpleType>
     <restriction base="string">
      <enumeration value="yes"/>
      <enumeration value="no"/>
      <enumeration value="optional"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="multiplicity" type="NMTOKEN" use="optional"/>
  </complexType>
 </element>

 <element name="coupling">
  <complexType>
   <sequence>
    <element ref="t:apply" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:extra" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
   <attribute name="name" type="string" use="optional"/>
   <attribute name="from" type="string" use="required"/>
   <attribute name="to" type="string" use="required"/>
   <attribute name="size" type="string" use="optional"/>
   <attribute name="interactive" use="optional" default="no">
    <simpleType>
     <restriction base="string">
      <enumeration value="yes"/>
      <enumeration value="no"/>
      <enumeration value="optional"/>
     </restriction>
    </simpleType>
   </attribute>
  </complexType>
 </element>

 <element name="apply">
  <complexType>
   <sequence>
    <element ref="t:param" minOccurs="0" maxOccurs="unbounded"/>
    <element ref="t:extra" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
   <attribute name="filter" type="IDREF" use="required"/>
   <attribute name="factor" type="string" use="optional"/>
  </complexType>
 </element>
 
 <complexType name="port">
   <attribute name="id" type="Name" use="required"/>
   <attribute name="operator" use="optional">
    <simpleType>
     <restriction base="string">
      <enumeration value="Of"/>
      <enumeration value="Oi"/>
      <enumeration value="B"/>
      <enumeration value="S"/>
      <enumeration value="finit"/>
     </restriction>
    </simpleType>
   </attribute>
   <attribute name="datatype" type="IDREF" use="optional"/>
   <attribute name="type" use="optional" default="normal">
    <simpleType>
     <restriction base="string">
      <enumeration value="state"/>
      <enumeration value="normal"/>
     </restriction>
    </simpleType>
   </attribute>
 </complexType>
 
 <simpleType name="OptionalChoice">
   <restriction base="string">
     <enumeration value="yes"/>
     <enumeration value="no"/>
     <enumeration value="optional"/>
   </restriction>
 </simpleType>
 <simpleType name="YesNoChoice">
   <restriction base="string">
     <enumeration value="yes"/>
     <enumeration value="no"/>
   </restriction>
 </simpleType>
  
</schema>
