xMML.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Tomasz Piontek (Instytut Chemii Bioorganicznej PAN) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="converterType">
		<xs:sequence>
			<xs:element name="requires" type="requiresType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="class" type="xs:string"/>
		<xs:attribute name="from" type="xs:IDREF" use="required"/>
		<xs:attribute name="to" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="couplingType">
		<xs:sequence>
			<xs:element name="filter" type="filterType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="from" type="xs:string" use="required"/>
		<xs:attribute name="to" type="xs:string" use="required"/>
		<xs:attribute name="size" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="datatypeType">
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="class" type="xs:string"/>
		<xs:attribute name="size_estimate" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="definitionsType">
		<xs:sequence>
			<xs:element name="datatype" type="datatypeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="converter" type="converterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="submodel" type="submodelType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deltaType">
		<xs:attribute name="type" default="variable">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="variable"/>
					<xs:enumeration value="fixed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" type="xs:string"/>
		<xs:attribute name="max" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="descriptionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="version" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="extra">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:complexType name="filterType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="interpolation"/>
					<xs:enumeration value="reduction"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="scale" type="xs:string"/>
		<xs:attribute name="factor" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="implementationType">
		<xs:sequence>
			<xs:element name="platform" type="platformType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="library" type="libraryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="size" type="xs:string"/>
		<xs:attribute name="runtime" type="xs:string"/>
		<xs:attribute name="memory" type="xs:string"/>
		<xs:attribute name="cores" type="xs:NMTOKEN"/>
		<xs:attribute name="language" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="inType">
		<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="operator" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Of"/>
					<xs:enumeration value="Oi"/>
					<xs:enumeration value="B"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="finit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="datatype" type="xs:IDREF"/>
		<xs:attribute name="type" default="normal">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="state"/>
					<xs:enumeration value="normal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="instanceType">
		<xs:sequence>
			<xs:element name="timescale" type="timescaleType" minOccurs="0"/>
			<xs:element name="spacescale" type="spacescaleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="otherscale" type="otherscaleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="submodel" type="xs:IDREF" use="required"/>
		<xs:attribute name="domain" type="xs:string"/>
		<xs:attribute name="init">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="libraryType">
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="maxType">
		<xs:attribute name="type" default="variable">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="variable"/>
					<xs:enumeration value="fixed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" type="xs:string"/>
		<xs:attribute name="max" type="xs:string"/>
	</xs:complexType>
	<xs:element name="model">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="descriptionType" minOccurs="0"/>
				<xs:element name="definitions" type="definitionsType"/>
				<xs:element name="topology" type="topologyType"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="xi" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="version" type="xs:string"/>
			<xs:attribute name="xmml_version" type="xs:string" fixed="0.1"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="otherscaleType">
		<xs:sequence>
			<xs:element name="delta" type="deltaType" minOccurs="0"/>
			<xs:element name="max" type="maxType"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:NMTOKENS"/>
		<xs:attribute name="delta" type="xs:string"/>
		<xs:attribute name="max" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="dimensions" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="outType">
		<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="operator" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Of"/>
					<xs:enumeration value="Oi"/>
					<xs:enumeration value="B"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="finit"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="datatype" type="xs:IDREF"/>
		<xs:attribute name="type" default="normal">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="state"/>
					<xs:enumeration value="normal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="paramType">
		<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="platformType">
		<xs:attribute name="arch" type="xs:string"/>
		<xs:attribute name="os" type="xs:string" use="required"/>
		<xs:attribute name="preferred">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="portsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="in" type="inType"/>
			<xs:element name="out" type="outType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="requiresType">
		<xs:attribute name="name" type="xs:NMTOKENS"/>
		<xs:attribute name="datatype" type="xs:IDREF" use="required"/>
		<xs:attribute name="src" default="to">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="from"/>
					<xs:enumeration value="to"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="spacescaleType">
		<xs:sequence>
			<xs:element name="delta" type="deltaType" minOccurs="0"/>
			<xs:element name="max" type="maxType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:NMTOKENS"/>
		<xs:attribute name="delta" type="xs:string"/>
		<xs:attribute name="max" type="xs:string"/>
		<xs:attribute name="dimensions" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="submodelType">
		<xs:sequence>
			<xs:element name="timescale" type="timescaleType"/>
			<xs:element name="spacescale" type="spacescaleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="otherscale" type="otherscaleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ports" type="portsType"/>
			<xs:element name="implementation" type="implementationType" minOccurs="0"/>
			<xs:element ref="extra" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="class" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="init" default="no">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="stateful" default="no">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
					<xs:enumeration value="optional"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="timescaleType">
		<xs:sequence>
			<xs:element name="delta" type="deltaType" minOccurs="0"/>
			<xs:element name="max" type="maxType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:NMTOKENS"/>
		<xs:attribute name="delta" type="xs:string"/>
		<xs:attribute name="max" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="topologyType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="instance" type="instanceType"/>
			<xs:element name="coupling" type="couplingType"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
